@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*padding: top right bottom left;*/

.love-on-top {
  height: 75px;
  padding: 5px;
  overflow:hidden;
  position: relative;
}

.love-on-top * {
  display: inline-block;
}

.love-on-top .title {
  font-family: 'Montserrat', sans-serif;
  color: #EE3322;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
}

.love-on-top .badgey {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  height: 50px;
  width: 50px;
  box-shadow: 1px 1px 2px #A0A0A0;
  border-radius: 50%;
  /* Safari */
  -webkit-transform: rotate(325deg);
  /* Firefox */
  -moz-transform: rotate(325deg);
  /* IE */
  -ms-transform: rotate(325deg);
  /* Opera */
  -o-transform: rotate(325deg);
  /* Standard */
  transform: rotate(325deg);
}

.badgeys {
  width: 430px;
  position: relative;
  float: right;
}

.yellow {
  background-color: #FFEE00;
}

.orange {
    background-color: #EE3322;
    color: white;
}

.love-on-top .lol {
  padding: 10px 10px 7px 7px;
  font-size: 20px;
}

.love-on-top .omg {
  padding: 12px 12px 6px 4px;
  font-size: 18px; 
}

.love-on-top .trashy {
  padding: 15px 6px 6px 3px;
  font-size: 14px; 
}

.love-on-top .fail {
  padding: 10px 10px 10px 8px;
  font-size: 22px; 
}

.love-on-top .lightning {
  padding: 6px 10px 10px 16px;
  font-size: 13px;
}

.black-border-nav {
  width: 100%;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #C2C2C2;
  padding: 1px 0px 1px 0px;
  height: 38px;
  display: relative;
}

.grey-nav {
  width: 100%;
  background-color: #F5F5F5;
  height: 34px;
  display: absolute;
}

.pagination>li>a {
  color: black;
  background-color: #F5F5F5;
  font-weight: bold;
  display: absolute;
  top: -20px;
}

.pagination>li>a:hover {
  background-color: white;
  color: black;
}

.icony {
  color: #BFBFBF;
  float: right;
}

.icony:hover {
  color: #3793f0;
}
