<!DOCTYPE html>
<html>

<head>
  <title>List of Lists</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
  <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"></link>
  <script src="js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  <link href="custom.css" rel="stylesheet" type="text/css"></link>
</head>

<body>
  <div class="container">
    <div class="love-on-top">
      <div class="title">LIST OF LISTS</div>
      <div class="yellow badge">LOL</div>
      <div class="yellow badge">win</div>
      <div class="yellow badge">omg</div>
      <div class="yellow badge">cute</div>
      <div class="yellow badge">trashy</div>
      <div class="yellow badge">fail</div>
      <div class="yellow badge">wtf</div>
      <div class="orange badge"><i class="fa fa-bolt"></i></div>
    </div><!--/.love-on-top -->
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">NEWS</a></li>
          <li><a href="/">ENTERTAINMENT</a></li>
          <li><a href="/">LIFE</a></li>
          <li><a href="/">VIDEO</a></li>
          <li><a href="/">VIDEO</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Default</a></li>
          <li class="active"><a href="./">Static top</a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.navbar navbar-default navbar-static-top -->
  </div><!--/.container -->
</body>

</html>